.btn-back{
    background-color: white;
    margin-left: 4.5%;
    margin-top: 3%;
    width: 145px;
    height: 50px;
    border: 2px solid #e7e7e7;
    border-radius: 9px;
    align-items: center;
}

.btn-back-dark-mode{
    background-color: hsl(209, 23%, 22%);
    margin-top: 3%;
    margin-left: 4.5%;
    width: 145px;
    height: 50px;
    border-radius: 9px;
    align-items: center;
    color: white;
    border: 2px solid hsl(207, 26%, 17%);
}

.btn-back-dark-mode:hover{
    background-color: hsl(209, 19%, 30%);
}

.body-dark-mode{
    background-color: hsl(207, 26%, 17%);
}

.dark-mode-color-words{
    color: white;
}

.btn-back:hover{
    background-color: #e7e7e7;
}

.text-button{
    margin-right: 6%;
    font-size: 16px;
}

.btn-position{
    padding-left: 6%;
}

.btn-position-dark-mode{
    padding-left: 6%;
}

.row{
    padding: 3%;
    margin-top: -3%;   
}

.row-dark-mode{
    padding: 3%;
    margin-top: -3%;
}

.country-image{
    width: 100%;
    height: 35rem;
    padding-top: 12%;
    padding-left:16%;
    padding-right: 12%;
    margin-top: -4%;
}

.country-name{
    font-weight: bold;
    font-size: 32px;
}

.col-left{
    padding-top: 12%;
}

.col-left-dark-mode{
    color: white;
    padding-top: 12%;
}

.col-right{
    padding-top: 18%;
}

.col-right-dark-mode{
    color: white;
    padding-top: 18%;
}

.value{
    color: gray;
}

.dark-mode-value{
    color: #bdbdbd;
}

.border-button{
    background-color: white;
    border: 2px solid #e7e7e7;
    width: 100px;
    font-size: 12px;
    margin-right: 1%;
    margin-bottom: 1%;
    border-radius: 3px;   
}

.border-button-dark-mode{
    background-color: hsl(209, 23%, 22%);
    border: 2px solid hsl(207, 26%, 17%);
    color: white;
    width: 100px;
    font-size: 12px;
    margin-right: 1%;
    margin-bottom: 1%;
    border-radius: 3px; 
}

.border-button-dark-mode:hover{
    background-color: hsl(209, 19%, 30%);
}

.border-button:hover{
    background-color: #e7e7e7;
}

.border-countries{
    margin-bottom: 100%;
    margin-left: 3%;
}

.border-countries-dark-mode{
    margin-bottom: 100%;
    color: white;
    margin-left: 3%;
}

@media (max-width: 400px) {
    .country-name{
        padding-left: 4%;
    }
    .btn-position{
        padding-top: 7%;
        padding-bottom: 8%;
    }
    .btn-position-dark-mode{
        padding-top: 7%;
        padding-bottom: 8%;
    }
    .col-right{
        margin-top: -9%;
    }
    .col-right-dark-mode{
        margin-top: -9%;
    }
    .country-info{
        padding-left: 4%;
        padding-top: 3.5%;
    }
    .country-image{
        width: 110%;
        height: 20rem; 
        margin-left: -8%;
    }
    p {
        display: flex;
        flex-direction: column;
        padding-left: 3.5%;
        padding-top: 8.5%;
      }
  }

  @media (min-width: 401px) {
    .country-image{
        width: 100%;
        height: 30rem; 
        margin-left: -8%;
    }
    .country-name{
        padding-left: 4%;
    }
    .country-info{
        padding-left: 4%;
        padding-top: 3.5%;
    }
    .col-right{
        margin-top: -13%;
    }
    .border-countries{
        padding-left: 3.5%;
        padding-top: 8.5%;
    }
    .border-countries-dark-mode{
        padding-left: 3.5%;
        padding-top: 8.5%;
    }
}
  
  @media (min-width: 768px) {
    .country-image{
        padding-right: 0;
        height: 30rem;
        margin-left: 0%;  
    }
    .col-right{
        margin-top: 0%;
    }
    .border-countries{
        margin-left: 1.5%;
        margin-top: -2%;
    }
    .border-countries-dark-mode{
        margin-left: 1.5%;
        margin-top: -2%;
    }
}
