.header{
  padding: 15px;
  background-color: white;
}

.dark-mode-header{
  padding: 15px;
  background-color: hsl(209, 23%, 22%);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  background-color: white;
}

.dark-mode-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  background-color: hsl(209, 23%, 22%)
}

.header-title{
  margin-top: 1%;
  font-weight: bold;
  font-size: 140%;
  margin-left: 3%;
}

.dark-mode-header-title{
  margin-top: 1%;
  font-weight: bold;
  font-size: 140%;
  margin-left: 3%;
  color: white;
}

.button-header{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
  user-select: none;
  border: none;
  background-color: white;
  margin-right: 3%;
}

.dark-mode-button-header{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
  user-select: none;
  border: none;
  background-color: hsl(209, 23%, 22%);
  color: white;
  margin-right: 3%;
}
